[submodule "intpath/naseem_warth"]
	path = intpath/naseem_warth
	url = git@github.com:intpath/naseem_warth.git
	branch = master

[submodule "intpath/pos_invoice_report_custom"]
	path = intpath/pos_invoice_report_custom
	url = git@github.com:intpath/pos_invoice_report_custom.git
	branch = master

[submodule "intpath/haval_crm_extension"]
	path = intpath/haval_crm_extension
	url = git@github.com:intpath/haval_crm_extension.git
	branch = master

[submodule "intpath/auto_backup"]
	path = intpath/auto_backup
	url = git@github.com:intpath/auto_backup.git
	branch = master

[submodule "intpath/mak_extended"]
	path = intpath/mak_extended
	url = git@github.com:intpath/mak_extended.git
	branch = master

[submodule "intpath/car_repair_maintenance_service"]
	path = intpath/car_repair_maintenance_service
	url = git@github.com:intpath/car_repair_maintenance_service.git
	branch = master

[submodule "intpath/haval_product_template_mod"]
	path = intpath/haval_product_template_mod
	url = git@github.com:intpath/haval_product_template_mod.git
	branch = master
